@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AddTablePage";
}

    <form method="post" asp-controller="WeatherDB" asp-action="Upload" enctype="multipart/form-data">
        <div class="form-group">
            <label for="FormControlFile">
                Chose an Excel spreadsheet in the same format as shown below
            </label>
            <input required name="uploadedFile" type="file" class="form-control-file" id="FormControlFile">
        </div>
        <button type="submit" class="btn btn-primary">Upload data to DB</button>
    </form>
    <div class="@ViewBag.Color">
        @ViewBag.StatusString
    </div>