@using WebApplicationDB.ViewModels
@model AddTableViewModel
@{
    ViewData["Title"] = "AddTablePage";
}

<form method="post" asp-controller="UpWeatherDB" asp-action="Upload" enctype="multipart/form-data">
    <div class="form-group">
        <label for="FormControlFile">
            Chose an Excel spreadsheet in the same format as shown below
        </label>
        <input required multiple name="uploadedFiles" type="file" class="form-control-file" id="FormControlFile">
    </div>
    <button type="submit" class="btn btn-primary">Upload data to DB</button>
</form>
<ul class="list-group list-group-flush">
    @for (int i = 0; i < Model.statusStringList.Count(); i++)
    {
        <li class="list-group-item @Model.colorList[i]">@Model.statusStringList[i]</li>
    }
</ul>
<div class="rounded p-3 mt-2 bg-light">
    <p class="pl-3 mb-2">
        Every sheet in Excel spreadsheet should have the same format as it shown in the picture.<br>
        The 3rd and the 4th rows should be same as in the picture.<br>
        Columns from A to F should be not null.
    </p>
    <div class="container-fluid">
            <img src="~/img/format.png" class="img-fluid img-thumbnail rounded" alt="Formatted file image">
    </div>
</div>