@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-6">Menu</h1>
        <ul class="list-unstyled">
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="UpWeatherDB" asp-action="AddExcelTable">Add New Excel Table</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="DownWeatherDB" asp-action="ShowDBTable">Show Weather DataBase Table</a>
            </li>
        </ul>

    </div>
